html
    head
        title= title
    style.
        body {
            background: #{color};
        }
    body
        h1 Welcome (no. #{counter}) to the #{color} site
        table
            tbody
                tr
                  th IP
                  td #{ip}
                tr
                  th ENV
                  td #{env}